.articles {
}
.articles>ul {
    list-style: none;
}
.articleSummary a {
    text-decoration: none;
    color: #6d6d6d;
}
.articleSummary a h2 {
    margin: 7px 0 7px 0;
}
.articleSummary a p {
    margin: -6px 0 0 0;
    padding: 0 0 7px 0;
}