@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');

.App-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.App-logo {
    pointer-events: none;
    padding: 0 10px;
    font-size: calc(12px + 1vmin);
}
.App-title {
    font-family: 'Roboto Slab', serif;
    padding: 0 10px;
    font-size: calc(22px + 1vmin);
    text-shadow: 1px 1px 1px #000, -1px -1px 1px #fff;
    color: #6d6d6d;
    opacity: 0.8;
    text-decoration: none;
}
.App-links {
    margin-left: auto;
    display: flex;
}
.App-link {
    padding: 10px;
    align-self: end;
    text-decoration: none;
}
.divider {
    font-size: calc(6px + 1vmin);
    padding: 10px;
}