.app {
    display: flex;
    flex-direction: row;
    flex: 1;
}
@media screen and (min-width: 415px){
    .app nav,
    .app aside {
        flex: 0 0 20vw;
    }
}

.app article {
    min-width: 60vw;
    margin: 7px 0 7px 0;
}
.app-main {
    min-height: 90vh;
    flex: 1;
}
Header, footer {
    height: 3vh;
}
footer {
    border-top: 1px dotted lightgrey;
    text-align: center;
    font-size: 12px;
}
Header, footer, article, nav, aside {
    padding: .1em;
}