* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    font-family: Georgia, Times, serif;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 { font-size: 18px; line-height: 22px; }
h2 { font-size: 17px; line-height: 22px; }
h3 { font-size: 16px; line-height: 22px; }
h4 { font-size: 15px; line-height: 22px; }
p { font-size: 13px; line-height: 20px; }

pre {
    margin: 5px 0;
    border: 1px dotted lightgray;
    border-radius: 3px;
    padding: 5px;
    background: floralwhite;
    white-space: pre-wrap;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: 13px;
}
a {color: #666;}
